.txtthai {
  font-family: "Athiti", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bar{
    padding: 15px;
    background-color: rgb(238, 247, 251);
    font-size: 18px;
    margin: auto;
    border-radius: 25px;
    margin-bottom: 10px;
    
    
}
.active{
    color: rgb(130, 130, 130);
}
.text-end{
    text-align: end;
   
    
}
.col-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.col-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.col-4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.col-5{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.col-6{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.border{
    border: 2px solid rgb(97, 135, 209) ;
    border-radius: 5px;
    
    padding: 20px;
}
.m{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.me{
    margin-right: 100px;
}
.mt{
    margin-top: 50px;
}
p{
    font-size: 18px;
}
.p{
    padding: 10px;
}
th{
    font-size: 18px;
    font-weight: 600;
    border: 1px solid rgb(221, 221, 221) ;
   background-color: rgb(250, 250, 250);
   
    
}
td{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    
   
}

.b-mon{
   border: 1px solid rgb(255, 255, 74) ;
   background-color: rgb(253, 255, 183);
    
}
.b-tue{
   border: 1px solid rgb(255, 194, 245) ;
   background-color: rgb(255, 232, 249);
    
}
.b-wed{
   border: 1px solid rgb(123, 231, 134) ;
   background-color: rgb(220, 255, 198);
    
}
.b-thu{
   border: 1px solid rgb(255, 220, 170) ;
   background-color: rgb(255, 239, 213);
    
}
.b-fri{
   border: 1px solid rgb(194, 234, 255) ;
   background-color: rgb(232, 244, 255);
    
}
.b-sat{
   border: 1px solid rgb(247, 194, 255) ;
   background-color: rgb(248, 232, 255);
    
}
.b-sun{
   border: 1px solid rgb(255, 194, 194) ;
   background-color: rgb(255, 232, 232);
    
}
.b-none{
   border: 1px solid rgb(221, 221, 221) ;
   background-color: rgb(252, 252, 252);
    
}
table{
    width: 100%;
    border-collapse: collapse;
    
}
.m-0{
    margin: 0px;
}
.hover:hover {background-color: rgb(243, 250, 255);}
